<h1>Login To Your Account</h1>
  <%= form_tag "/login" do %>
    <%= label_tag :email %>
    <%= email_field_tag :email, placeholder: "Email" %>

    <%= label_tag :password %>
    <%= password_field_tag :password, placeholder: "Password" %>

    <%= submit_tag "Login" %>
  <% end %>
