<div class="container-fluid">
  <%= render partial: "filters" %>
</div>

<section class="container-fluid">
  <div class="col-md-8">

    <h2 class="account-header">All Results</h2>

    <div class="listing-container">
      <% if @listings.empty? %>
      <div class="container-fluid">
          <%= render partial: "no_listings" %>
          <h2 class="back-search"><%= link_to "Back to Search", root_path %></h2><br>
      </div>

      <% else %>
        <% @listings.each do |listing| %>
        <article class="col-md-6 listing-<%=listing.id%> listing-image">
          <div><%= image_tag (listing.image_url), size: "380x230" , class: "img-responsive" %></div>
          <div class="featured-price-div" id="<%= listing.price %>">
            <p class="featured-price"><%= number_to_currency(listing.price, unit_price: "$") %></p>
            <p><%= listing.concat_address %><p>
          </div>
          <div class="">
            Available from: <%= listing.start_date %> to <%= listing.end_date %>
          </div>
          <div class="accomodation" id="<%= listing.accomodation %>">
            Accomodates: <%= listing.accomodation %>
          </div>
          <div><%= link_to "Checkout listing", listing_path(listing) %></div>
        </article>
        <% end %>

        <div class="container-fluid">
          <h2 class="back-search"><%= link_to "Back to Search", root_path %></h2><br>
          <span class="paginate"><%= will_paginate @listings %></span>
        </div>

      <% end %>
    </div>
</div>
</section>

<div class="container-fluid">
  <div class="map-position">
    <div id="map">
      <%= render partial: "map" %>
    </div>
  </div>
</div>
