<% if @listing.image_url %>
  <div class="listing-crop">
      <%= image_tag(@listing.image_url, class: "listing-single-image") %>
  </div>
<% end %>

 <section class="container-fluid listing-show-container">
   <div class="col-md-6 listing-details-container">
     <div class="featured-price-div">
       <span class="featured-price-show"><%= number_to_currency(@listing.price, unit_price: "$") %></span><span class="address-show"><%= @listing.concat_address %><span>
     </div>
    <div>
      <h2>About This Listing</h2>
      <p><%= @listing.description %></p>
      <p>Accomdation: <%= @listing.accomodation %></p>
      <p>Availability: <%= @listing.start_date.strftime("%d/%m/%Y") %> to <%= @listing.end_date.strftime("%d/%m/%Y") %></p>
      <p>This listing has a <%= @listing.average_rating %> rating!</p>
      <% if current_user %>
        <%= render partial: "layouts/ratings" %>
      <% end %>
    </div>
  </div>

  <div class="col-md-4 booking-container">
    <h3>Interest in this listing?</h3>
    <% if current_user %>
      <%= button_to "Request to Book", new_listing_booking_path(@listing, current_user), method: :get, class: "btn btn-primary" %>
    <% else %>
      <%= button_to "Request to Book", new_listing_booking_path(@listing, current_user), method: :get, class: "btn btn-primary", disabled: true %>
    <% end %>
  </div>


  <%= render partial: "layouts/reviews" %>

</section>
