 <section class="container">
  <div>
    <% if @listing.image_url %>
      <%= image_tag(@listing.image_url, class: "listing_single_image") %>
    <% end %>
  </div>
  <p><%= @listing.description %></p>
  <p><%= number_to_currency(@listing.price, unit_price: "$") %></p>
  <p><%= @listing.accomodation %></p>

  <% if current_user %>
    <%= button_to "Request to Book", new_user_booking_path(current_user), method: :get, class: "btn btn-primary" %>
  <% else %>
    <%= button_to "Request to Book", method: :get, class: "btn btn-primary", disabled: true %>
  <% end %>
  <% if current_user %>
  <div class="btn-group dropup">
    <button type="button" class="btn btn-secondary dropdown-toggle" name="Rate" value="Rate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </button>
    <div class="dropdown-menu">
      <%= link_to "Terrible", listing_ratings_path(@listing.id, {:score => "Terrible", :user_id => current_user}), method: :post, class: "dropdown-item" %>
      <%= link_to "Below_Average", listing_ratings_path(@listing.id, {:score => "Below_Average", :user_id => current_user}), method: :post, class: "dropdown-item" %>
      <%= link_to "Mediocre", listing_ratings_path(@listing.id, {:score => "Mediocre", :user_id => current_user}), method: :post, class: "dropdown-item" %>
      <%= link_to "Above_Average", listing_ratings_path(@listing.id, {:score => "Above_Average", :user_id => current_user}), method: :post, class: "dropdown-item" %>
      <%= link_to "Great", listing_ratings_path(@listing.id, {:score => "Great", :user_id => current_user}), method: :post, class: "dropdown-item" %>
   </div>
  </div>
  <% end %>
  <div class="col-md-4">
    <h2>This listing has a <%= @listing.average_rating %> rating!<h2>
  </div>
  <div class="col-md-12">
      <h4>Listing Reviews</h4>
      <div class="container panel-group">
        <% @listing.reviews.each do |review| %>
          <div class="panel panel-default review_tile">
            <div class="panel-body small">
              <div class="btn-group pull-right">
                <%= link_to "Delete Review", [review.listing, review], method: :delete %>
              </div>
              <div class="pull-left">
                <h6>Author: <%= User.find(review.user_id).first_name %></h6>
                <p><%= review.body %></p>
                <p class="small">Created: <%= distance_of_time_in_words_to_now(review.created_at) %> ago</p>
              </div>
            </div>
          </div>
        <% end %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= form_for ([@listing, @listing.reviews.build]) do |f| %>
              <div class="form-group text-left">
                <%= f.label :body, 'Review' %>
                <%= f.text_area :body, :class => "form-control" %>
              </div>
              <div class=btn-group>
                <%= f.submit "Add Review", :class => "btn btn-primary btn-sm"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</section>
