<% if @listing.image_url %>
  <div class="listing-crop">
      <%= image_tag(@listing.image_url, class: "listing-single-image") %>
  </div>
<% end %>

 <section class="container-fluid listing-show-container">
   <div class="col-md-6 listing-details-container">
     <div class="featured-price-div">
       <span class="featured-price-show"><%= number_to_currency(@listing.price, unit_price: "$") %></span><span class="address-show"><%= @listing.concat_address %><span>
     </div>
    <div>
      <h2>About This Listing</h2>
      <p><%= @listing.description %></p>
      <p>Accomodates: <%= @listing.accomodation %></p>
      <p>Host ID: <%= @listing.user_id %></p>
    </div>
    <%= link_to "Edit Listing", edit_admin_listing_path(@listing), class: "btn btn-warning" %>
    <%= link_to "Delete Listing", admin_listing_path(@listing), class: "btn btn-danger", method: :delete %>
  </div>


  <%= render partial: "layouts/reviews" %>
</section>
