<h2 class="account-header">Update Account</h2>
<div class="form">
  <%= form_for current_user do |f| %>
    <div class="text-input">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "Email" %>
      <span class="separator"> </span>
    </div>

    <div class="text-input">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, placeholder: "First Name" %>
      <span class="separator"> </span>
    </div>

    <div class="text-input">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, placeholder: "Last Name" %>
      <span class="separator"> </span>
    </div>

    <div class="text-input">
      <%= f.label :phone %>
      <%= f.text_field :phone, placeholder: "Phone Number" %>
      <span class="separator"> </span>
    </div>

    <div class="button-center">
      <%= f.submit "Update Account", class: "update-btn" %>
    </div>

    <% end %>
</div>
