<h1>Create Account</h1>
  <%= form_for @user do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "Email" %>

    <%= f.label :password_digest %>
    <%= f.text_field :password_digest, placeholder: "Password" %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name, placeholder: "First Name" %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, placeholder: "Last Name" %>

    <%= f.label :phone %>
    <%= f.text_field :phone, placeholder: "Phone Number" %>

    <%= f.submit "Create Account" %>
  <% end %>
