<% if current_user %>
  <%= render partial: "layouts/dashboard_navbar" %>
<% end %>

<div class="wrapper">
  <div class="wrapper_container">
    <div class="row">
      <div class="col-1">
        <div class="user-item">
          <div class="user-item_photo">
            <%= image_tag(@user.avatar_url) %>
          </div>
          <div class="user-item_info">
            <% if current_user %>
            <%= button_to "Edit Profile", edit_user_path(@user), method: :get, class:"btn btn-info" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="overview-container">

          <div class="chat">
            <div class="head">Profile Information</div>
            <div class="chat_inner">
              <div class="chat_inner-item">
                <div class="message">

                  <p>Account Status: <% if @user.verified? %>Verified<% else -%>Not Verified<% end -%>
                  <% if !@user.verified? %>
                  <p>
                    <%= link_to "Verify your account now.", verify_path %>
                  </p>
                  <% end -%>
                  <p>Name: <%=  @user.first_name%> <%=  @user.last_name%></p>
                  <p>Email: <%=  @user.email%></p>
                  <p>Phone: <%=  @user.phone%></p>
                </div>

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
