<h1><%= @user.first_name %></h1>
<img src="" alt="">
<p>Account Status: <% if @user.verified? %>Verified<% else -%>Not Verified<% end -%>
<% if !@user.verified? %>
<p>
  <%= link_to "Verify your account now.", verify_path %>
</p>
<% end -%>
<h3>Email</h3>
<p><%= @user.email %></p>
<h3>First Name</h3>
<p><%= @user.first_name %></p>
<h3>Last Name</h3>
<p><%= @user.last_name %></p>
<h3>Phone</h3>
<p><%= @user.phone %></p>
<%= link_to "Edit Profile", edit_user_path(current_user) %>
