<nav class="navbar navbar-default no-padding navbar-fixed-top">
    <div class="nav navbar-nav">
      <a href="/" class="navbar-brand"><i class="glyphicon glyphicon-bed"></i> crash<span id="pad">PAD</span></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "Take a Trip", listings_path %>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="glyphicon glyphicon-user"></i>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% if current_user %>
            <li><%= link_to "Dashboard", dashboard_path %></li>
            <li><%= link_to "Host a Trip", new_listing_path %></li>
            <li><a>Messages <span class="badge">1</span></a></li>
            <li><a>Profile</a></li>
            <li class="divider"></li>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Create Account", new_user_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Login", login_path %></li>
          <% end %>
        </ul>
      </li>
    </ul>
</nav>
